---
layout: default
single: true
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">{% include article.html %}
 <footer>
 	<br>
 	<br>
    <p>
      {% if page.previous.url %}
        <a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&lt;-- 上一篇：{{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
        <a class="basic-alignment right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">下一篇：{{page.next.title}} --&gt;</a>
      {% endif %}
    </p>
  </footer>
</article>
  
  <br/>{% include post/Share.html %}
  <br/>
  <br/>{% include post/license.html %}
  <br/>
{% if site.disqus_short_name and page.comments == true %}
<section id="comment">
    <h1 class="title">Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
</section>
{% endif %}
<br/>{% if site.duoshuo_short_name and site.duoshuo_comments == true and page.comments == true %}
  <section>
    <h1></h1>
    <div id="comments" aria-live="polite">{% include post/duoshuo.html %}</div>
  </section>
{% endif %}