<ul class="main">
    <li><a href="{{ root_url }}/">首页</a></li>
    <li><a href="{{ root_url }}/blog/categories/moqui">Moqui 准备 (4)</a></li>
    <li><a href="{{ root_url }}/blog/categories/moquiying-yong-kai-fa-xi-lie-zhi-nan-yi">Moqui 应用开发系列【译】</a></li>
    <li>
    	<a href="{{ root_url }}/blog/categories/moquigai-lan">Moqui概览</a>
    	<a href="{{ root_url }}/blog/categories/yun-xing-moqui">运行Moqui</a>
    	<a href="{{ root_url }}/blog/categories/chuang-jian-shou-ge-zu-jian">第一个例子</a>
    </li>

    <li><a href="{{ root_url }}/">Moqui 架构解析（建设中...）</a></li>
    <li><a href="http://gagaboy.iteye.com/">关于我</a></li>
</ul>