<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2014-05-18-bo-ke-kai-zhang-liao.markdown</string>
		</array>
		<array>
			<string>2014-05-20-my-words.markdown</string>
		</array>
		<array>
			<string>2014-05-25-shareddocs.markdown</string>
		</array>
		<array>
			<string>2014-05-25-translate-hemplight.markdown</string>
		</array>
		<array>
			<string>2014-05-25-moqui-with-intellij.markdown</string>
		</array>
		<array>
			<string>2014-06-01-moquichap1.markdown</string>
		</array>
		<array>
			<string>2014-06-01-moquichap2.markdown</string>
		</array>
		<array>
			<string>2014-06-02-moquichap3.markdown</string>
		</array>
		<array>
			<string>2014-06-03-moquichap4.markdown</string>
		</array>
		<array>
			<string>2014-06-03-moquichap5.markdown</string>
		</array>
		<array>
			<string>2014-06-03-moquichap6.markdown</string>
		</array>
		<array>
			<string>2014-06-03-moquichap7.markdown</string>
		</array>
		<array>
			<string>2014-06-03-moquichap8.markdown</string>
		</array>
		<array>
			<string>2014-06-03-moquichap9.markdown</string>
		</array>
		<array>
			<string>2014-06-03-moquichap10.markdown</string>
		</array>
		<array>
			<string>2014-06-03-moquichap11.markdown</string>
		</array>
		<array>
			<string>2014-06-13-moquichap10.markdown</string>
		</array>
	</array>
	<key>userIconName</key>
	<string>Home</string>
</dict>
</plist>
