<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2014-05-18-bo-ke-kai-zhang-liao.markdown</string>
		</array>
		<array>
			<string>2014-05-20-my-words.markdown</string>
		</array>
		<array>
			<string>2014-05-25-shareddocs.markdown</string>
		</array>
		<array>
			<string>2014-05-25-translate-hemplight.markdown</string>
		</array>
	</array>
</dict>
</plist>
